html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &.dark-theme {
        background-color: $mainBcgDarkTheme;
        color: $textColorDarkTheme;
    }
    &.light-theme {
        background-color: $mainBcgLightTheme;
        color: $textColorLightTheme;
    }
}

main {
    flex-grow: 1;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}