// darkTheme theme
$mainBcgDarkTheme: #23272a;
$oddColorDarkTheme:#2c2f33;
$textColorDarkTheme: 	#ffffff;

//  Day Theme
$mainBcgLightTheme: #f7f7f7;
$oddColorLightTheme: #dfe3ee;
$textColorLightTheme: 	#1e2124;

$decorativeColor: 	#7289da;
$decorativeColorLight: 	#dfe3ee;
$decorativeColorDark: 	#3b5998;
$decorativeGreyColor: 	#99aab5;
$decarativeShadowColor: 	#282b30;
