<main class="anime">
  <div class="container">
    <div class="library__btns">
      <button class="library__btn btn--blue" data-library="liked">Liked</button>
      <button class="library__btn btn--blue" data-library="queue">
        Enqueued
      </button>
    </div>
    <ul class="anime-list js-storage" data-contain=""></ul>
    <div
    id="anime-pagination tui-pagination-container"
    class="tui-pagination"
    style="display: none"
  ></div>
  <div class="mini-loader">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  </div>
</main>
