<header class="header dark-theme">
    <div class="container">
        <div class="logo header___logo">
            <svg width="100" height="100">
                <use href="./images/icons.svg#icon-logo">
            </svg>
            <h1 class="header__title">
                AnimeGoGo
            </h1>
        </div>
        <nav class="header__nav">
            <a href="./" class="header__link">
                Home
            </a>
            <a href="" class="header__link">
                Popular
            </a>
        </nav>
        <div class="header__interaction">
            <button>
                Sign up
            </button>
            <div class="theme-switcher">
                <svg width="30" height="30" class="icon-light-theme">
                    <use href="./images/icons.svg#icon-light-theme"></use>
                </svg>
                <div class="theme-switcher__cotnainer">
                    <input type="checkbox" id="theme-switcher" name="theme-switcher" class="theme-switcher-checkbox">
                    <div class="theme-switcher__track">
                        <div class="theme-switcher__circle"></div>
                    </div>
                </div>
                <svg width="28" height="28" class="icon-dark-theme">
                    <use href="./images/icons.svg#icon-dark-theme"></use>
                </svg>
            </div>
        </div>
    </div>
</header>