<div class="accept open">
  <div class="accept__body">
    <button type="button" class="accept__close" accept-popup-close>
      <svg width="30" height="30" class="accept__close-icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="accept__content">
      <h2 class="accept__question">
        Are you sure you want to delete anime from your library?
      </h2>
      <div class="accept__btns">
        <button class="btn--red accept__btn">Yes</button>
        <button class="btn--blue accept__btn">No</button>
      </div>
    </div>
  </div>
</div>
