<div class="popup">
  <div class="modal__body">
    <button type="button" class="modal__close" data-popup-close>
      <svg width="30" height="30" class="modal__close-icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="popup__content">
      <!-- <img
        src="https://gogocdn.net/cover/spy-x-family.png"
        alt="title"
        width="100"
        class="modal__img"
      />
      <div class="modal__details">
        <h1 class="modal__title">spy family</h1>
        <ul class="modal__details">
          <li class="modal__item">Date: <span class="modal__info">2022</span></li>
          <li class="modal__item">Status: Completed</li>
          <li class="modal__item">Episodes: 12</li>
          <li class="modal__item">Type: spring</li>
          <li class="modal__item">Genres: </li>
        </ul>
      </div>
      <div class="modal__btns">
        <button class="modal__btn">Like</button>
        <button class="modal__btn">Add to queque</button>
      </div> -->
    </div>
  </div>
</div>
