<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <blockquote>
        <h3>
          Very funny. Carrots, peppers, and bugs! Everyone has something they
          don't like and I don't like bugs!
        </h3>
        <cite>Character: Kasumi</cite>
        <cite> Anime: Pokemon</cite>
      </blockquote>
    </div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
