<div class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide">
        <blockquote class="swiper__quote">
          <h3 class="swiper__speech">
            Very funny. Carrots, peppers, and bugs! Everyone has something they
            don't like and I don't like bugs!
          </h3>
          <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
          <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
        </blockquote>
      </div>
      <div class="swiper-slide">
          <blockquote class="swiper__quote">
            <h3 class="swiper__speech">
              Very funny. Carrots, peppers, and bugs! Everyone has something they
              don't like and I don't like bugs!
            </h3>
            <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
            <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
          </blockquote>
      </div>
      <div class="swiper-slide">
          <blockquote class="swiper__quote">
            <h3 class="swiper__speech">
              Very funny. Carrots, peppers, and bugs! Everyone has something they
              don't like and I don't like bugs!
            </h3>
            <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
            <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
          </blockquote>
      </div>
      <div class="swiper-slide">
          <blockquote class="swiper__quote">
            <h3 class="swiper__speech">
              Very funny. Carrots, peppers, and bugs! Everyone has something they
              don't like and I don't like bugs!
            </h3>
            <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
            <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
          </blockquote>
      </div>
      <div class="swiper-slide">
          <blockquote class="swiper__quote">
            <h3 class="swiper__speech">
              Very funny. Carrots, peppers, and bugs! Everyone has something they
              don't like and I don't like bugs!
            </h3>
            <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
            <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
          </blockquote>
      </div>
      <div class="swiper-slide">
          <blockquote class="swiper__quote">
            <h3 class="swiper__speech">
              Very funny. Carrots, peppers, and bugs! Everyone has something they
              don't like and I don't like bugs!
            </h3>
            <cite class="swiper__cite"> <span class="swiper__feature">Character:</span> Kasumi</cite>
            <cite class="swiper__cite"> <span class="swiper__feature">Anime:</span> Pokemon</cite>
          </blockquote>
      </div> -->
    </div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  </div>
</div>
