<section class="tic-tac">
  <div class="wrapper game--flex">
    <div class="game__wrapper">
      <h1 class="game__title">Let`s play tic-tac-toe</h1>
      <div class="game">
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
        <div class="game__inner"></div>
      </div>
    </div>
    <div class="result">
      <p class="result__text"></p>
      <button class="result__again disabled"></button>
    </div>
  </div>
</section>
