.header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: $oddColor;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    &__item {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2;
    }
}